@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

$mainBackground: #a8dadc;
$btnBackground: #44a1a0;
$textColor: #eff7f6;
$darkBlue: #219ebc;
$darkGreen: #508991;
$red: #bd1f36;
$darkRed: #6a040f;
$mainFont: "VT323", monospace;
$shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
