<section class="main__section">
  <article class="main__content">
    <div class="warning">
      {{{errorLogo}}}
      <h1>{{errorMsg}}</h1>
      <a href="/" class="btn button default-button">volver al home</a>
    </div>
  </article>
</section>