.main {
  &__content {
    h1 {
      text-transform: capitalize;
      letter-spacing: 0.1rem;
      text-align: center;
      color: $darkRed;
      line-height: 0.8;
    }

    .content-container {
      .pokeball {
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.43);
        background-color: $textColor;
        border-radius: 50%;
        width: 18rem;
        height: 18rem;
        overflow: hidden;
        margin: 1rem auto;
        position: relative;
        transition: transform 0.25s linear;

        &__delete,
        &__edit,
        img {
          position: absolute;
        }

        &__delete,
        &__edit {
          top: 55%;
          font-size: 1.5rem;
        }

        &__delete {
          right: 8%;
        }

        &__edit {
          left: 8%;
        }

        &:hover {
          transform: scale(1.02);
        }

        &__red {
          background-color: $red;
          height: 50%;
          border-bottom: 4px solid #000;
        }

        &__info {
          display: grid;
          place-items: center;
          width: 9.5rem;
          height: 4.5rem;
          color: $red;
          text-align: center;
          text-transform: capitalize;
          margin: 3.07rem auto 0 auto;
          line-height: 0.8;
          overflow: auto;
          @include scrollbar($red, $textColor, 3px);
          background-color: #e7ecef;
          border: 2px solid $darkRed;
          border-radius: 5px;

          label {
            width: 100%;
            margin-top: 0.15rem;
          }
        }

        img {
          border-radius: 50%;
          border: 3px solid #000;
          height: 6rem;
          width: 6rem;
          top: 33%;
          right: 33%;
        }
      }
    }

    .warning {
      text-align: center;

      svg {
        color: $darkRed;
        margin-top: 1rem;
        font-size: 5rem;
      }

      h1 {
        margin-top: 1rem;
      }

      a {
        margin-top: 1rem;
        margin-bottom: 1rem;
        max-width: 10rem;
      }
    }
  }
}
