.main {
  @include extraLarge {
    &__main-menu {
      button {
        max-width: 11.1rem;
        font-size: 1.25rem;
      }
    }

    &__nav {
      &__list {
        font-size: 1.35rem;
      }
    }

    &__filter {
      .radio-container {
        svg {
          font-size: 3.1rem;
        }

        a {
          font-size: 1.15rem;
        }
      }

      h4 {
        font-size: 1.35rem;
      }

      label {
        font-size: 1.2rem;
      }

      button {
        width: 70%;
        font-size: 1.15rem;
      }
    }

    &__content {
      h1 {
        font-size: 2.7rem;
      }

      .warning {
        svg {
          font-size: 9rem;
        }

        a {
          font-size: 1.2rem;
        }
      }
    }

    &__card-management {
      &__body {
        .card-text {
          width: 83%;
          font-size: 1.3rem;
        }

        a {
          font-size: 1.25rem;
        }
      }
    }

    &__card {
      &__header {
        font-size: 2.2rem;
      }

      &__body {
        &__form {
          label,
          p,
          &__buttons button,
          &__buttons a {
            font-size: 1.2rem;
          }

          .input-img {
            img {
              height: 5.4rem;
              width: 5.4rem;
            }
          }
        }
      }
    }
  }
}
